/**********************************TAG SELECTORS*******************************/
body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 2em;
  line-height: 2;
}

h1 {
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  margin: 50 auto 0 auto;
  color: #66BFBF;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

a {
  color: #11999E;
}

**16px=1em=100%**

/**********************************CLASS SELECTORS*******************************/
.margin {
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container {
}

.bottom-container {
}

.web {
  text-decoration: underline;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

/**********************************ID SELECTORS*******************************/
